* {
  -webkit-tap-highlight-color: transparent !important;
}

:focus {
  outline: none !important;
}

.blue-circle {
  animation-delay: 0.1s;
}
.green-circle {
  animation-delay: 0.2s;
}
.red-circle {
  animation-delay: 0.3s;
}
